html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("flaga\ uk.avif");
  background-size: cover;
  background-position: center;
}